.sobre {
  background-color: #17494D;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  text-align: center;
}

.sobre h3{
  font-family: avenir_next;
}
.sobre-direita, .sobre-esquerda {
  flex-basis: 100%;
  margin-bottom: 20px;
  padding: 0 20px;
}

@media (min-width: 800px) {
  .sobre-direita, .sobre-esquerda {
    padding: 70px;
  }
}


.sobre-direita {
  flex-basis: 56%;
  order: 1;
}

.sobre-esquerda {
  flex-basis: 40%;
  order: 2;
  margin-bottom: 0;
}

.imgsobre {
  width: 100%;
  max-width: 700px; 
  border-radius: 10px;
  margin: 100px auto 0;
}

.about-title {
  text-align: center;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  font-size: 2em;
}

.about-text {
  text-align: justify;
  font-size: 1.3em;
  line-height: 1.6;
}

@media (max-width: 800px) {
  .sobre {
    flex-direction: column;
  }
  .sobre-esquerda {
    flex-basis: 100%;
    margin: 20px;
    order: 2;
  }
  .sobre-direita {
    flex-basis: 100%;
  }
  .imgsobre {
    max-width: 450px;
  }
  p{
    font-size: 1.2rem !important;
  }
}

/* Responsividade para monitores desktops */
@media (min-width: 1200px) {
  .sobre {
    justify-content: space-between;
    text-align: left;
  }
  .sobre-direita {
    flex-basis: 56%;
    margin-right: 2%;
  }
  .sobre-esquerda {
    flex-basis: 42%;
  }
  .imgsobre {
    margin-top: 0;
  }
}
