@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'avenir_next';
  src: url('fonts/AvenirNextCyr-Demi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


* {
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  
}

.btn {
  background: #F1F3F5;
  color: #17494D !important;
  padding: 14px 25px;
  font-size: 20px;
  border-radius: 15px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn.dark-btn {
  background: #17494D;
  color: #fff;
}

h1{
  color: #F1F3F5 !important;
}

body {
  color: #fff !important;
  margin: 0;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #17494D;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}
