@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  box-sizing: border-box;
}

.btn {
  background: rgba(3, 126, 91, 1);
  color: #fff;
  padding: 14px 25px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.btn.dark-btn {
  background: rgba(3, 126, 91, 1);
  color: #fff;
}

body {
  background-color: #000;
  color: #fff;
}

@media (prefers-color-scheme: dark) {
  body {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
    background-color: rgb(var(--background-rgb));
    color: rgb(var(--foreground-rgb));
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
