nav{
    width: 100%;
    color:white;
    padding: 4px 0;
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}
.logo{
    width: 70px;
    border-radius: 50%;
    margin-left: 150px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 20px;
    font-size: 16px;
    cursor: pointer;
}
.dark-nav{
    background:rgba(3, 126, 91, 1);
    transition: 0.5s;
}
.menu-icon{
    display: none;
}

@media(max-width:1000px){
    .logo{
        display: none;
    }
    nav ul li{
        margin:10px 15px;
    }
}
@media (max-width: 840px) {
    nav {
        padding: 20px 0;
        justify-content: space-between;
    }

    nav ul {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(3, 126, 91, 1);
        z-index: -1;
        width: 200px;
        padding-top: 70px;
        transition: 0.5s;
    }

    nav ul li {
        display: block;
        margin: 25px 20px;
    }

    .menu-icon {
    display: block;
    position: absolute;
    top: 6px;
    right: 20px;
    width: 30px;
    cursor: pointer;
    z-index: 20; /* Garante que o ícone fique acima do menu */
}

    .hide-mobile-menu {
        right: -200px;
    }
}
