.title-text {
    text-align: center;
    width: 100%;
    background-color: black;
  }

  .h1ep{
    padding-top: 70px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1.2rem;
  }
  
  .title-text h1 {
    background-color: black;
    font-family: avenir_next;
    font-size: 1.5em; 
  }
   .card h2 {
    font-size: 18px; 
    font-weight: bold;
  }
  
  .title-text p {
    text-align: justify;
    font-size: 1em; 
    line-height: 1.6; 
  }
  .instructions-title h1{
    font-family: avenir_next;
  }
  .instructions-title{
    background-color: black;
    text-align: center;
    width: 100%;
    font-size: 2em; 
  }
  
  .instructions {
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    padding: 20px;
  }
  
  .instructions .card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex: 1;
    max-width: 30%;
    padding: 20px;
    text-align: center;
  }
  
  .instructions h1, .instructions h2 {
    color: #333;
  }
  
  .instructions p {
    text-align: justify;
    color: #555;
  }
  
  .instructions img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    margin-top: 15px;
    border-radius: 8px;
  }
  .imgstyle {
    width: 200px;
    display: block;
    margin: 0 auto;
    padding: 10px;
  }
  .botao-center{
    background-color: black;
     display: flex;
     justify-content: center;
     align-items: center;
     padding-top: 25px;
     padding-bottom: 95px;
  }
  
  @media screen and (max-width: 768px) {
    .instructions {
      flex-direction: column;
      align-items: center;
    }
    
    .h1ep{
    padding-top: 70px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.2rem;
  }
  
    .instructions .card {
      max-width: 90%;
    }
  }
  